/* ========================================================================
ListFilter
 ========================================================================== */
.container {
  display: contents;
  justify-content: center;
}

.list-group-item.active {
  background-color: #090b19 !important;
  border-color: white !important;
}

/* .list-group-item.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */
