/* ========================================================================
App.jsx 
 ========================================================================== */
.App {
  text-align: center;
  background-color: #f7f5eb;
  font-size: calc(10px + 2vmin);
}

#sideList {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  background-color: #090b19;
  border-right: white solid;
  /* boder-style: double; */
}

#fadeText {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  /* border-radius: 25px; */
}
#quoteHeader {
  /* animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s; */
  background-color: white;
}
#quoteBody {
  background-color: #e0eaf5;
}
#taskBackground {
  background-color: #090b19;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}
#taskHeadColor {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  color: #ff8e2b;
}
#SingleTaskColor {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  color: white;
}

#newTask {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#roundApp {
  border-radius: 25px !important;
}

/* ========================================================================
ListHeader
 ========================================================================== */
.listName {
  text-align: center;
  font: bold;
  font-size: 50px;
  padding: 10px;
  background-image: url("https://images.pexels.com/photos/910299/pexels-photo-910299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: #ff8e2b;
  /* border-bottom: #ffa500 solid; */
  border-bottom: #ff8e2b solid;
}

/* ========================================================================
List Footer
 ========================================================================== */
.listFoot {
  background-color: #090b19;
  color: white;
  /* text-align: center; */
  padding: 10px;
  border-top: #ff8e2b solid;
}

.footerArea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerTitle {
  margin-bottom: 30px;
  color: #ff8e2b;
}

#footerConnect a {
  color: white;
  text-decoration: none;
}
#footerConnect a:hover {
  color: #ff8e2b;
  text-decoration: none;
}
@keyframes myMove {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
/* 
SIngle Task */

#TaskLightUp:hover {
  background: #ff8e2b;
  padding: 0.2em;
  display: inline;
  border-radius: 50%;
}
/* #modalHeader {
  background: #e0eaf5;
  color: #ff8e2b;
} */
