/* ========================================================================
App.jsx 
 ========================================================================== */
.App {
  text-align: center;
  background-color: #F7F5EB;
  font-size: calc(10px + 2vmin);
}

#sideList {
  animation: fadeIn ease 2s; 
  -webkit-animation: fadeIn ease 2s;
  }

  #fadeText{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    /* border-radius: 25px; */
  }

  #newTask {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
  }
  
  @keyframes fadeIn{
  0% {opacity: 0}
  100%{opacity: 1;}
  }

  #roundApp{
    border-radius: 25px !important;
  }

 /* ========================================================================
ListHeader
 ========================================================================== */
.listName{
  text-align: center;
  font: bold;
  font-size: 50px;
  padding: 10px;
  background-image: url("https://images.pexels.com/photos/910299/pexels-photo-910299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: white;
}

 /* ========================================================================
List Footer
 ========================================================================== */
.listFoot {
  background-color: #090b19;
  color: white;
  /* text-align: center; */
  padding: 10px;
  border-top: orange solid;
}

.footerArea{
padding-top: 30px;
padding-bottom: 30px;
}

.footerTitle{
  margin-bottom: 30px;
}

#footerConnect a{
color: white;
text-decoration: none;
}
@keyframes myMove {
  from {top: 0px}
  to {top: 50px}
}

